//Sizes
$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-desktop: 1440px;

//Colors
$blue: #666ca3;
$pink: #ffa7c3;
$dark: #13183f;
$white: #ffffff;
$gray: #83869a;
$fuchsia: #f74780;
$gradient-orange: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$gradient-orange-press: linear-gradient(180deg, #ffb8a5 0.04%, #ed99ce 100%);
$gradient-purple: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
$gradient-purple-press: linear-gradient(180deg, #afb3ff 0%, #e7a9d0 99.92%);
$background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);

//Fonts
$font1: "Plus Jakarta Sans", sans-serif;

/*5:00*/
