@use "../abstracts/mixins";

header {
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;

  & > :first-child {
    @include mixins.breakpoint(mobile) {
      font-weight: 800;
      font-size: 28px;
    }
    @include mixins.breakpoint(tablet) {
      font-weight: 800;
      font-size: 28px;
    }
    @include mixins.breakpoint(desktop) {
      font-weight: 800;
      font-size: 36px;
    }
  }

  & > :nth-child(2) {
    @include mixins.breakpoint(mobile) {
      @include mixins.button-header(9px 24px 11px 24px, 24px);
    }
    @include mixins.breakpoint(tablet) {
      @include mixins.button-header(9px 24px 11px 24px, 24px);
    }
    @include mixins.breakpoint(desktop) {
      @include mixins.button-header(14px 32px 14px 32px, 28px);
    }
  }
}

a {
  @include mixins.reset-link();
}
